.body{
    text:Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    
}
.header{
    background: color #333; 
    color:black;
    padding: 20px;
    text-align: center;
}
.main{
    padding: 20px;
}
.section{
    margin: bottom 20px; 
    text-align: center;
}
.h1{
    margin: 0;
}
.p{
    color:#666;
    line-height: 1.6;
    text-align: center;
}
.img{
    display: block;
    margin-top: 10px;
    max-width: 50%;
    
}
